<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<title>{% block title %}{% endblock %}</title>
	</head>
	
	<body>
		<nav class="container-fluid navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Pick-A-Pay</span>
			<a class="btn btn-outline-light" href="https://data.gov.sg/dataset/monthly-basic-and-gross-wages-of-selected-occupations-within-major-occupational-groups-by-industry">View data source</a>
		</nav>
		{% block main %}
		{% endblock %}
	</body>
</html>